.tableBox {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.table {
  border: 1px solid #929292;
  box-shadow: 0 0 4px #929292;
  padding: 7px;
  .title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    padding: 0 4px 4px 4px;
    border-bottom: 1px solid #000000;
    margin: 0;
  }
  .tableList {
    &__titleBox {
      display: grid;
      gap: 7px;
      align-items: center;
      border-bottom: 1px solid gray;
      color: #929292;
    }
  }
}

.statistic {
  grid-template-columns: 90px repeat(9, 25px);
}
.actions {
  grid-template-columns: 90px repeat(8, 30px);
}
