@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500;700&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 5px;
  color: #000000;
}

.app {
  max-width: 845px;
  margin: 0 auto;
}
